{% extends "mail/base.html" %}
{% block conteudo %}
<h3>Olá, {{nome}}!</h3>
<p>Seus dados de inscrição na COMEBH 2013 foram aprovados pelos coordenadores de sua Juventude Espírita!</p>
<p>Você ainda poderá visualizá-los no sistema de inscrição. Entretanto, as modificações estão bloqueadas. Caso precise fazer alguma
	alteração em seus dados, contate o seu coordenador.</p>
<p>Para que sua inscrição seja aprovada, resta realizar o pagamento da taxa de inscrição, no valor de R$30,00
	(além do valor de R$10,00 referente à camisa, caso você tenha solicitado uma). Você mesmo pode realizar o pagamento no sistema
	da inscrição, através do PagSeguro, ou realizar o acerto com os coordenadores de sua Juventude Espírita.</p>
<p>Caso tenha qualquer problema com relação ao pagamento, entre em contato com a coordenação responsável pela sua Juventude Espírita.</p>
{% endblock %}