{% if request.session.cart %}

<script type="text/javascript">
	function avisoPagamento(){
		return confirm("Você será redirecionado para o site do PagSeguro, aonde poderá fazer o pagamento das inscrições selecionadas. Deseja continuar?");
	}
</script>

<h3>Inscrições a pagar</h3>
<table class="tabela">
	<thead>
		<th>Nome</th>
		<th>Preço</th>
	</thead>
	<tbody>
		{% for c in request.session.cart %}
		<tr>
			<td>{{ c.usuario.get_full_name }}</td>
			<td>R${{ c.valor_inscricao }}</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td>Total</td>
			<td id="carrinho_total">R${{ request.session.cart_total }}</td>
		</tr>
	</tfoot>
</table>

<a href="/coordenador/limparInscricoes" style="margin-right: 15px">Limpar</a>
<a href="/coordenador/pagarInscricoes" target="_blank" onclick="return avisoPagamento();">Pagar estas inscrições</a>

<br/>

{% endif %}

