{% extends "base.html" %}
{% block conteudo %}

<h1>Recuperar senha</h1>

{% if not email %}

<p>Esqueceu sua senha? Não se preocupe, todos fazemos isso. Digite seu e-mail abaixo (usado no cadastro) 
 e uma nova senha será gerada automaticamente e enviada para você.</p>

<form action="/recuperar_senha" method="POST">
	{% csrf_token %}
	<label for="email">Email:</label>
	<input type="text" name="email"/>
	<input type="submit" value="Enviar"/>
</form>

{% else %}

<p>Sua nova senha foi enviada para {{ email}}. </p>

{% endif %}

{% endblock %}