{% extends "base.html" %}
{% block conteudo %}

<h1>Convites de cadastro de confraternista</h1>

<p>Abaixo, estão listados os confraternistas da sua Juventude Espírita convidados para a inscrição na COMEBH 2013 que ainda não realizaram
	seu cadastro.
	Caso tenha feito algum convite incorretamente (por exemplo, se tiver digitado um email errado), use o link "Desfazer convite" para
	poder refazer o convite corretamente. Por favor, note que os confraternistas que já aceitaram o convite não serão exibidos abaixo.</p>

{% if codigos|length %}
	<table class="tabela">
		<thead>
			<th>Nome</th>
			<th>Email</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</thead>
		<tbody>
			{% for c in codigos %}
			<tr>
				<td>{{ c.nome }}</td>
				<td>{{ c.email }}</td>
				<td><a href="/coordenador/desfazer_convite?codigo={{c.codigo}}">Desfazer convite</a></td>
				<td><a href="/coordenador/reenviar_email_convite?codigo={{c.codigo}}">Reenviar Convite</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br/>
{% else %}
	<p>Não há convites pendentes.</p>
{% endif %}

<p>Você ainda pode fazer {{ convites_disponiveis }} convites.</p>

<fieldset>
	<legend>Convidar um confraternista</legend>
	<form action="/coordenador/criar_codigo_cadastro" method="POST">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<input type="submit" value="Convidar"/>
	</form>
</fieldset>

{% endblock %}